body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    /* font-family: 'Noto Sans SC', sans-serif; */
}

main {
    flex: 1 0 auto;
}

h1 {
    font-weight: bold;
}

input::placeholder {
    color: black;
}

input:focus::placeholder{
    color:transparent;
}

.modal {
    max-width: 750px;
}

.page-footer {
    padding: 0;
}

.ftext {
    font-weight: bold;
    font-size: 1.2rem;
}