body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    /* font-family: 'Noto Sans SC', sans-serif; */
}

main {
    flex: 1 0 auto;
}

h1 {
    font-weight: bold;
}

input::placeholder {
    color: black;
}

input:focus::placeholder{
    color:transparent;
}

.modal {
    max-width: 750px;
}

.page-footer {
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

.ftext {
    font-weight: bold;
    font-size: 1.2rem;
}
.eventHeading{
    font-weight: bold;
}
#moreEvents{
    margin-bottom: 50px;
}
.linked{
    margin-left: 200px;
}
/* #events > tr > td:first, #events > tr > th:first  {
    max-width: 200px;
} */

/* table{
    table-layout: fixed;
}

th, td {
    max-width: 200px;
    word-wrap:break-word;
} */